;; Maybe store these in an S3 bucket?
{"https://axvr.uk" "https://www.axvr.uk"
 "http://axvr.uk"  "https://www.axvr.uk"

 "https://www.axvr.uk" "https://www.alexvear.com"
 "http://www.axvr.uk"  "https://www.alexvear.com"

 "https://alexvear.com" "https://www.alexvear.com"
 "http://alexvear.com"  "https://www.alexvear.com"

 "https://ascribe.axvr.uk" "https://www.alexvear.com/projects/ascribe/"
 "http://ascribe.axvr.uk"  "https://www.alexvear.com/projects/ascribe/"

 "https://cereal.axvr.uk" "https://github.com/axvr/cereal"
 "http://cereal.axvr.uk"  "https://github.com/axvr/cereal"

 "https://www.***REMOVED***.com" "https://www.***REMOVED***.com/shop/MessyMammoth"
 "http://www.***REMOVED***.com"  "https://www.***REMOVED***.com/shop/MessyMammoth"
 "https://***REMOVED***.com"     "https://www.***REMOVED***.com/shop/MessyMammoth"
 "http://***REMOVED***.com"      "https://www.***REMOVED***.com/shop/MessyMammoth"}
